<section class="flex h-full">
  <aside class="h-full w-[80px] bg-croco-gray-900 p-[18px]">
    <nav>
      <img src="./assets/icons/logo.svg" alt="Logo" class="w-[58px] h-[45px]">
      <ul class="mt-[40px] flex flex-col gap-[42px]">
        @for (item of MENU_ITEMS; track item.title) {
          <div class="menu-item">
            <li
              class="w-full h-[50px] flex flex-col gap-[10px] items-center hover:text-croco-gray-100 hover:cursor-pointer transition ease-in-out delay-150 ">
              <img class="icon" [src]="'assets/icons/' + item.icon" alt="">
              <span class="text-croco-gray-700 text-[14px] menu-text">{{ item.title | transloco }}</span>
            </li>
          </div>
        }
      </ul>
    </nav>
  </aside>
  <header>
    <h1>My Website</h1>
  </header>
  <main>
    <h2>Content</h2>
    <p>Some content</p>
  </main>
</section>
